.detail {
  @extend %page;
  @extend %center;
  background: $color-quicksand;
  color: $color-white;

  @include media("<phone") {
    height: auto;
  }
}

.detail__wrapper {
  display: flex;
  align-items: center;

  @include media("<phone") {
    display: block;
    width: 66rem;
    margin: auto;
    padding: 15rem 0 31.5rem;
  }
}

.detail__media {
  height: 78.2rem;
  width: 55.4rem;
  position: relative;

  @include media("<phone") {
    width: 100%;
    height: 93rem;
    margin: 0 auto 8rem;
  }
}

.detail__media__image {
  @extend %cover;
  object-fit: cover;
}

.detail__information {
  padding-left: 8.2rem;
  @include media("<phone") {
    padding-left: 0;
  }
}

.detail__information__collection {
  @extend %description-12;
  text-transform: uppercase;
  margin-bottom: 3.7rem;
}

.detail__information__title {
  @extend %title-120;
  max-width: 60rem;
  @include media("<phone") {
    line-height: 0.9;
  }
}

.detail__information__content {
  padding-left: 18rem;
  @include media("<phone") {
    padding-left: 0;
  }
}

.detail__information__highlights {
  margin-top: 6rem;
}

.detail__information__highlight {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.detail__infoformation__highlight_icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;

  margin-right: 4rem;
  @include media("<phone") {
    height: 9rem;
    width: 9rem;
    margin-right: 6rem;
  }
}

.detail__information__highlight_text {
  @extend %description-16;
}

.detail__information__list {
  margin-top: 4rem;
}

.detail__information__item {
  align-items: center;
  display: flex;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.detail__information__item__title {
  @extend %description-12;
  width: 10rem;

  @include media("<phone") {
    padding-right: 5rem;
    width: 15rem;
  }
}

.detail__information__item__description {
  @extend %description-16;
  max-width: 44rem;
}

.detail__information__link {
  @extend %title-30;
  margin-top: 3rem;
  display: inline-block;
}

.detail__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 12.4rem;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%);
  z-index: 2;

  @include media("<phone") {
    width: 27rem;
    height: 13rem;
    font-size: 3rem;
    bottom: 12rem;
  }
}

.detail__button__icon {
  @extend %cover;
}
