.about {
  background: $color-cadet-blue;
  color: $color-bright-gray;
}
.about__wrapper {
}
.about__title {
  @extend %title-100;
  margin: auto;
  text-align: center;
  max-width: 124rem;
  line-height: 1.15;
}
