.about {
  @extend %page;
  // background: $color-cadet-blue;
  // color: $color-bright-gray;
  opacity: 0;
}
.about__wrapper {
}
.about__title {
  @extend %title-100;
  margin: auto;
  text-align: center;
  max-width: 126rem;
  line-height: 1.15;

  @include media("<phone") {
    max-width: 68rem;
  }
}
