%verticle__titles {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  display: flex;

  transform: translate(-50%, -50%) rotate(-90deg);
}
%verticle__titles__label {
  @extend %description-12;
  text-transform: uppercase;
  transform: rotate(90deg);
  text-align: center;
  margin: 0 3rem;
  letter-spacing: 0.1rem;
}
%verticle__titles__title {
  @extend %title-200;
  padding-top: 2rem;
}
