.preloader {
  @extend %cover;
  @extend %center;
  background-color: $color-contessa;
  color: $color-white;
  // display: none;
  text-align: center;
  z-index: z("preloader");
}
.preloader__text {
  font-size: 0;
  max-width: 66rem;

  span {
    display: inline-block;
    overflow: hidden;
  }

  span span {
    @extend %title-53;
  }
}
.preloader__number {
  @extend %description-14;
  overflow: hidden;
  position: absolute;
  bottom: 7.3rem;
  left: 50%;
  transform: translateX(-50%);

  @include media("<phone") {
    font-size: 2.5rem;
  }
}

.preloader__number__text {
  display: inline-block;
}
