$color-white: #faf8f5;
$color-contessa: #c97164;
$color-quicksand: #bc978c;
$color-cadet-blue: #b2bbc3;
$color-bright-gray: #37384c;

$font-cormorant-garamond: "Cormorant Garamond";
$font-martel: "Martel";

$ease-out-expo: cubic-beizer(0.19, 1, 0.22, 1);

$z-indexes: ("navigation", "contenr");
