$color-black: #000;
$color-white: #fff;
$color-contessa: #c97164;
$color-quicksand: #bc978c;

$font-cormorant-garamond: "Cormorant Garamond";
$font-josefin-slab: "Josefin Slab";
$font-martel: "Martel";

$ease-out-expo: cubic-beizer(0.19, 1, 0.22, 1);

$z-indexes: ("navigation", "contenr");
