* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: calc(100vw / 1920 * 10);
  background: $color-contessa;
  color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include media("<phone") {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %description-16;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  // opacity: 0;
  vertical-align: middle;
  transition: opacity 0.4s ease;

  // &.loaded {
  //   opacity: 1;
  // }
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-animation="label"],
[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
