* {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include media("<phone") {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %description-16;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
