.collection {
  @extend %page;
  // background: $color-quicksand;
  // color: $color-white;
}
.collection__wrapper {
  @extend %cover;
  overflow: hidden;
}
.collection__titles {
  @extend %verticle__titles;

  @include media("<phone") {
    display: none;
  }
}
.collection__titles__label {
  @extend %verticle__titles__label;
}
.collection__titles__title {
  @extend %verticle__titles__title;
}
.collection__gallery {
  @extend %cover;
}
.collection__gallery__wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.collection__gallery__link {
  display: block;
  margin: 0 5.3rem;
}
.collection__gallery__media {
  width: 44.7rem;
  height: 63.1rem;
  position: relative;
}
.collection__gallery__media__image {
  @extend %cover;
  object-fit: cover;
}
.collection__content {
  @extend %cover;

  @include media("<phone") {
    display: none;
  }
}
.collection__article {
  position: absolute;
  left: 8rem;
  opacity: 0;
  bottom: 8rem;
  &--active {
    opacity: 1;
  }
}
.collection__article__title {
  @extend %title-60;
}
.collection__article__description {
  @extend %description-16;
  max-width: 44rem;
}

.collection__mobile {
  display: none;
  position: absolute;
  bottom: 5rem;
  @include media("<phone") {
    display: flex;
  }
}

.collection__mobile__item {
  padding-left: 5rem;
  width: 100vw;
}

.collection__mobile__item__label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.collection__mobile__item__title {
  font-family: $font-cormorant-garamond;
  font-size: 12rem;
}
