.home {
  @extend %page;
  @extend %center;
  background-color: $color-contessa;
  color: $color-white;
  text-align: center;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 24rem;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  &:before {
    background: linear-gradient(
      to bottom,
      $color-contessa 0%,
      rgba($color-contessa, 0) 100%
    );
    top: 0;
  }

  &:after {
    background: linear-gradient(
      to top,
      $color-contessa 0%,
      rgba($color-contessa, 0) 100%
    );
    bottom: 0;
  }
}

.home__wrapper {
}

.home__titles {
  @extend %verticle__titles;
}
.home__titles__label {
  @extend %verticle__titles__label;
}
.home__titles__title {
  @extend %verticle__titles__title;
}

.home__gallery {
  @extend %cover;
  visibility: hidden;
}

.home__gallery__media {
  position: absolute;
}

.home__gallery__media__img {
}
.home__link {
  @extend %description-14;
  height: 6rem;
  width: 29rem;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 2;

  @include media("<phone") {
    bottom: 7.5rem;
    height: 14rem;
    width: 55rem;
    font-size: 3rem;
  }
}

.home__link__icon {
  @extend %cover;
}
