@import "./base/reset";

//utils
@import "./utils/function";
@import "./utils/mixins";
@import "./utils/responsive";
@import "./utils/variables";
@import "./utils/vendors";

//shared
@import "./shared/verticle-title";
@import "./shared/description";
@import "./shared/pages";
@import "./shared/titles";

//base
@import "./base/base";
@import "./base/fonts";

//component
@import "./components/preloader";

//layout
@import "./layout/navigation";

//page
@import "./pages/about/about";
@import "./pages/about/content";
@import "./pages/about/gallery";
@import "./pages/about/highlight";

@import "./pages/collections/collections";

@import "./pages/detail/detail";

@import "./pages/home/home";
